.courses {
    margin-top: 0;
    max-width: 1440px;;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses_background {
    height: 0;
    width: 100%;
    overflow: visible;
    display: flex;
    justify-content: flex-end;
    opacity: 0.5;
    z-index: -3;
}

.courses_background img {
    width: 1065px;
    height: 790px;
    z-index: -3;
}

.courses h2 {
    margin-bottom: 77px;
    margin-top: calc(175px + 212px - 24px);
}
.courses > h2 > span:last-child {
    display: none;
}

.courses_container {
    max-width: 1200px;
    width: 100%;
    
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.courses .course {
    background-color: white;
    z-index: 1;
    
    width: 360px;
    height: 583px;

    box-shadow: 0 4px 30px 0 hsla(0, 0%, 0%, 0.05);

    display: grid;
}

.courses .course > div:first-child {
    padding: 10px 10px 0 10px;
}

.course_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;

    color: hsla(0, 0%, 26%, 0.8);

    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
}

.course_title {
    font-family: Montserrat;
    margin-top: 4px;
    margin-bottom: 22px;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.4px;
    text-align: left;
}

.course_status {
    min-width: 141px;
    max-width: 166px;
    height: 39px;

    color: hsla(0, 0%, 100%, 0.8);
    border-radius: 9px;

    display: flex;
    align-items: center;
    justify-self: center;
    text-align: center;
}

.course_status > span {
    font-size: 20px;
    font-weight: 600;
    width: 100%;
}

p.color3 {
    color: #1D8195;
}

.course_info_container {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    color: hsla(0, 0%, 0%, 0.4);
}

.course_info_container > img {
    object-fit: contain;
    position: relative;
    bottom: -20px;
}

.course_date {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;

    margin-top: 23px;
    margin-bottom: 54px;
    color: hsla(0, 0%, 26%, 0.8);
}

.course_info > div > p {
    padding: 5px ;
    max-width: 180px;
    border-left: 2px solid;
    padding-left: 7px;

    font-family: Raleway;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: hsla(0, 0%, 0%, 0.5);
}

.course_spaces {
    margin-top: 75px;

    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: hsla(0, 0%, 26%, 0.8);
}

.course button:hover {
    background-blend-mode: darken;
}

.course > .action_buttons {
    align-self: end;
}

.course > .action_buttons > button {
    font-family: Montserrat;
    font-size: 20px;
    width: 100%;
    height: 56px;

    border: none;
    cursor: pointer;
}

.background_color1 {background-color: hsl(241, 49%, 54%);}
.action_buttons .background_color1:hover {background-color: hsl(241, 49%, 40%);}
.transparent_background_color1 {background-color: hsla(241, 49%, 54%, 0.1);}
.color1 {color: #5351C4;}
.action_buttons .color1:hover {color: hsl(241, 49%, 40%);}

.background_color2 {background-color: hsl(101, 55%, 42%);}
.action_buttons .background_color2:hover {background-color: hsl(101, 55%, 30%);}
.transparent_background_color2 {background-color: hsla(101, 55%, 42%, 0.1);}
.color2 {color: #55A630;}
.action_buttons .color2:hover {color: hsl(101, 55%, 30%);}

.background_color3 {background-color: hsl(174, 100%, 33%);}
.action_buttons .background_color3:hover {background-color: hsl(174, 100%, 23%);}
.transparent_background_color3 {background-color: hsla(174, 100%, 33%, 0.1);}
.color3 {color: #00A896;}
.action_buttons .color3:hover {color: hsl(174, 100%, 23%);}

/* 1200px */
@media screen and (max-width: 1240px) {
    .courses h2 {
        font-size: 30px;
        margin-top: calc(140px + 167px - 15px);
        margin-bottom: 75px;
    }
    .courses_background {
        opacity: 0.8;
        max-width: 1000px;
    }
    .courses_container {
        max-width: calc(1000px - 40px);
    }

    .courses .course {
        width: 300px;
        height: 509px;
    }
    .courses .course > div:first-child {
        padding: 10px 10px 0 10px;
    }

    .course_header {
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
    }
    .course_header > img {
        width: 36px;
    }
    .course_title {
        margin-top: 6px;
        margin-bottom: 25px;
        font-size: 25px;
        line-height: 25px;
        letter-spacing: -0.4px;
    }
    .course_status {
        min-width: 141px;
        max-width: 145px;
        height: 34px;

        color: hsla(0, 0%, 100%, 0.8);
        border-radius: 9px;

        display: flex;
        align-items: center;
        justify-self: center;
        text-align: center;
    }

    .course_status > span {
        width: 100%;
        font-size: 16px;
        font-weight: 600;
    }
    .course_date {
        margin-top: 19px;
        margin-bottom: 41px;
        color: hsla(0, 0%, 26%, 0.8);
    }
    .course_info_container > img {
        object-fit: contain;
        position: relative;
        bottom: -40px;
        width: 110px;
        height: 140px;
    }
    
    .course_spaces {
        margin-top: 33px;
        margin-bottom: 12px;
        font-size: 15px;
        line-height: 20px;
    }
}
/* 768px */
@media screen and (max-width: 999px) {
    .courses {
        max-width: 768px;
    }
    .courses h2 {
        font-size: 20px;
        margin-top: calc(100px + 98px + 30px);
        margin-bottom: 25px;
    }
    .courses > h2 > span:last-child {
        display: inline;
    }
    .courses > h2 > span:first-child {
        display: none;
    }

    .courses_background {
        max-width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .courses_background img {
        width: 100%;
        height: 419px;
        position: relative;
        top: 45px;
    }

    .courses_container {
        max-width: calc(768px - 120px);
        padding: 0;
    }
    .courses .course {
        width: 200px;
        height: 310px;
    }
    .courses .course > div:first-child {
        padding: 9px 8px 0 10px;
    }
    .course_header {
        font-size: 10px;
        line-height: 22px;
        letter-spacing: 0px;
    }
    .course_header > img {
        width: 24px;
        height: 16px;
    }
    .course_title {
        margin-top: 2px;
        margin-bottom: 8px;
        font-size: 17px;
        line-height: 17px;
        letter-spacing: -0.4px;
    }
    .course_status {
        min-width: 90px;
        max-width: 90px;
        height: 18px;

        color: hsla(0, 0%, 100%, 0.8);
        border-radius: 9px;

        display: flex;
        align-items: center;
        justify-self: center;
        text-align: center;
    }
    .course_status > span {
        font-size: 10px;
    }
    .course_date {
        margin-top: 11px;
        margin-bottom: 12px;
        font-size: 13px;
        line-height: 20px;
        color: hsla(0, 0%, 26%, 0.8);
    }
    .course_info_container > img {
        object-fit: contain;
        position: relative;
        bottom: -25px;
        width: 74px;
        height: 85px;
    }
    .course_info > div > p {
        padding: 2px ;
        max-width: 100px;
        border-left: 2px solid;
        padding-left: 5px;
    
        font-family: Montserrat;
        font-size: 9px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0px;
        text-align: left;
        color: hsla(0, 0%, 26%, 0.8);
    }
    .course_spaces {
        margin-top: 25px;
        margin-bottom: 0px;
        font-size: 9px;
        font-weight: 400;
        line-height: 20px;
    }
    .course > .action_buttons > button {
        width: 100%;
        height: 30px;

        font-size: 11px;
        line-height: 26px;
    }
}

/* 480px */
@media screen and (max-width: 720px) {
    .courses {
        max-width: 480px;
        width: 100vw;
        overflow: hidden;
    }
    .courses_background {
        max-width: 480px;
        opacity: 1;
    }
    .courses_background img {
        height: 370px;
        top: -110px;
    }
    .courses h2 {
        font-size: 20px;
        line-height: 28px;
        margin-top: calc(80px + 80px - 4px);
        margin-bottom: 25px;
    }
    .courses_container {
        max-width: fit-content;
        width: fit-content;
        gap: 20px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .courses .course:nth-child(odd) {
        background-color: hsl(0, 0%, 90%);
    }
    .courses .course:nth-child(odd) > * {
        opacity: 0.9;
    }
}

/* 320px */
@media screen and (max-width: 390px) {
    .courses_background img {display: none;}
    .courses h2 {
        margin-top: calc(80px + 188px - 47px);
        margin-bottom: 25px;
    }
    .courses {
        max-width: 320px;
    }
}