.features {
    max-width: 1240px;
    width: 100vw;
    margin: 0 auto;
    z-index: 1;

    overflow: visible;
    height: 0;

    padding-left: 20px;
    padding-right: 20px;
}

.features_shadowbox {
    height: 212px;
    width: 100%;
    margin: 0 auto;

    background-color: white;
    box-shadow: -2px 2px 20px 0px hsl(0, 0%, 26%, 0.15);
    border-radius: 4px;

    position: relative;
    top: -24px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 40px;
}

.features_shadowbox > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features_shadowbox > div > p:first-child {
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0px;
    text-align: center;

    color: #55A630;

    margin-bottom: 16px;
}

.features_shadowbox > div > p:last-child {
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
}

@media screen and (max-width: 1240px) {
    .features {
        max-width: calc(854px + 40px);
    }
    .features_shadowbox {
        box-shadow: -2px 2px 5px 0px hsl(0, 0%, 26%, 0.15);
        height: 167px;
        padding-left: 30px;
        padding-right: 30px;
        gap: 54px;
        top: -15px;
    }
    .features_shadowbox > div > p:first-child {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 13px;
    }
    
    .features_shadowbox > div > p:last-child {
        font-size: 20px;
        line-height: 21px;
    }
}

/* 768px */
@media screen and (max-width: 1000px) {
    .features {
        max-width: calc(768px - 120px);
        padding: 0;
    }
    .features_shadowbox {
        height: 98px;
        width: 100%;
        padding: 0;
        gap: 12px;
        top: 30px;
    }
    .features_shadowbox > div > p:first-child {
        font-size: 25px;
        line-height: 40px;
        margin: 0;
        margin-top: -5px;
    }
    .features_shadowbox > div > p:last-child {
        font-size: 13px;
        line-height: 15px;
    }
}

/* 480px */
@media screen and (max-width: 720px) {
    .features {
        max-width: 360px;
        padding: 0;
    }
    .features_shadowbox {
        height: 80px;
        gap: 0px;
        top: -4px;
    }
    .features_shadowbox > div > p:first-child {
        font-size: 17px;
        line-height: 25px;
        margin: 0;
        margin-top: 0px;
    }
    .features_shadowbox > div > p:last-child {
        font-size: 8px;
        line-height: 10px;
    }
}

/* 320px */
@media screen and (max-width: 359px) {
    .features {
        max-width: 180px;
        padding: 0;
    }
    .features_shadowbox {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        height: 188px;
        gap: 0px;
        top: -4px;
        padding: 10px 0;
    }
    .features_shadowbox > div {
        width: 140px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: start;
        gap: 15px;
    }
    .features_shadowbox > div > p:last-child {
        text-align: left;
    }
}
