footer {
    margin-top: 175px;
    height: 774px;
    max-width: 1440px;
    width: 100vw;

    display: grid;
    align-items: end;
    grid-template-columns: 756px auto;
    grid-template-areas:
    "map content"
    "map content"
    "map policy";

    font-size: 18px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;

    background-color: #424242;
    color: white;
}

footer button {
    cursor: pointer;
}

footer > .map {
    width: 100%;
    height: 774px;
    grid-area: map;
    align-self: self-start;
}

.footer_content {
    background-color: #424242;
    align-self: start;
    grid-area: content;
    margin-left: 69px;
    
}

.footer_content > img {
    margin-top: 37px;
    margin-bottom: 50px;
    width: 98px;
    height: 98px;
    object-fit: contain;
}
.footer_content > address {
    display: flex;
    gap: 25px;
    flex-direction: column;
}
.footer_content > address > a {
    color: white;

    font-style: normal;
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
}
.footer_content > address > a:hover {
    color: white;
}
.footer_content > address > a:last-child {
    font-size: 25px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    font-style: normal;
}

.footer_nav {
    margin-top: 84px;
    margin-bottom: 85px;

    display: grid;
    grid-template-columns: 200px 150px;
    gap: 25px 47px;
    grid-template-rows: auto;
    grid-auto-flow: row;
    text-align: left;
    align-items: start;
}

.footer_nav > a {
    width: max-content;
    background: none;
    border: none;
    
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    
    color: hsla(0, 0%, 100%, 0.8);
}
.footer_nav > a:hover {
    color: white;
}


.footer_social_icons {
    display: flex;
    gap: 32px;
}

.footer_social_icons > a {
    width: 39px;
    height: 39px;
}

.footer_social_icons > a > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer_policy {
    background-color: #424242;
    height: 113px;
    grid-area: policy;
    margin-left: 69px;
    align-self: end;

    display: flex;
    align-items: center;
}

.footer_policy > button {
    background: none;
    border: none;
    color: hsla(0, 0%, 100%, 0.8);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}
.footer_policy > button:hover {
    color: white;
}

footer button > a, footer button > a:hover {
    color: hsla(0, 0%, 100%, 0.8);
}

@media screen and (max-width: 1240px) {
    footer {
        margin-top: 140px;
        max-width: 1000px;
        grid-template-columns: 500px auto;
        height: 600px;
    }

    footer > .map {
        height: 600px;
    }

    .footer_content {
        margin-left: 58px;
    }

    .footer_content > img {
        width: 77px;
        height: 77px;
        margin-top: 31px;
        margin-bottom: 33px;
    }

    .footer_content > address {
        gap: 18px;
    }
    .footer_content > address > a {
        font-size: 25px;
    }
    .footer_content > address > a:last-child {
        font-size: 20px;
    }

    .footer_nav {
        margin-top: 31px;
        margin-bottom: 47px;
        gap: 17px 47px;
    }
    .footer_nav > a {
        font-size: 15px;
        line-height: 14px;
    }
    .footer_social_icons > a {
        width: 33px;
        height: 33px;
    }

    .footer_policy {
        margin-left: 58px;
    }
}


/* 768px */
@media screen and (max-width: 999px) {
    footer {
        max-width: 768px;
        margin-top: 100px;
        grid-template-columns: minmax(1px, 356px) auto;
        height: 591px;
    }
    footer > .map {
        height: 100%;
    }
    .footer_content {
        margin-left: 32px;
    }
    .footer_content > img {
        margin-top: 40px;
    }
    .footer_content > address {
        gap: 21px;
        padding-right: 20px;
    }
    .footer_nav {
        grid-template-columns: auto auto;
        margin-top: 26px;
        gap: 15px 47px;
    }
    .footer_social_icons {
        gap: 24px;
    }
    .footer_social_icons > a {
        width: 24px;
        height: 24px;
    }
    .footer_policy {
        margin-left: 31px;
        height: 100px;  
    }
    .footer_policy > button {
        font-size: 15px;
        line-height: 26px;
    }
}

/* 480px */
@media screen and (max-width: 645px) {
    footer {
        max-width: 480px;
        margin-top: 80px;
        grid-template-columns: 1fr;
        grid-template-rows: 532px 272px 35px;
        grid-template-areas: 
        "content"
        "map"
        "policy";
        height: 591px;
    }
    .footer_content {
        grid-area: content;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer_content > img {
        margin-top: 26px;
        margin-bottom: 36px;
    }
    .footer_content > address {
        gap: 8px;
        padding: 0;
        align-items: center;
    }
    .footer_content > address > a:first-child{
        font-size: 20px;
        line-height: 26px;
    }
    .footer_content > address > a:last-child{
        font-size: 20px;
        line-height: 28px;
    }
    .footer_nav {
        width: 280px;
        grid-template-columns: min-content min-content;
        margin-top: 26px;
        margin-bottom: 50px;
        gap: 20px 81px;
    }
    .footer_nav a {
        font-size: 15px;
        line-height: 16px;
    }
    
    .footer_social_icons {
        gap: 24px;
        margin-bottom: 37px;
    }
    .footer_social_icons > a {
        width: 25px;
        height: 25px;
    }
    footer > .map {
        grid-area: map;
        position: relative;
        top: -33px;
    }
    .footer_policy {
        height: 100%;
        position: relative;
        top: -33px;
        margin: 0;
        grid-area: policy;
        justify-content: center;
    }
    .footer_policy > button {
        font-family: Raleway;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
    }
}

/* 320px */
@media screen and (max-width: 359px) {
    footer {
        max-width: 320px;
        margin-top: 80px;
        grid-template-columns: 1fr;
        grid-template-rows: 336px 42px 218px;
        grid-template-areas: 
        "content"
        "policy"
        "map";
        height: 591px;
    }
    footer > .map {
        grid-area: map;
        /* height: 218px; */
        position: relative;
        top: -0px;
    }
    .footer_content > img {
        margin-top: 26px;
        margin-bottom: 15px;
        width: 53px;
        height: 53px;
    }
    .footer_content > address {
        gap: 1px;
    }
    .footer_content > address > a:first-child{
        font-size: 16px;
    }
    .footer_content > address > a:last-child{
        font-size: 16px;
    }
    .footer_nav {
        width: calc(320px - 104px);
        grid-template-columns: min-content min-content;
        margin-bottom: 27px;
        gap: 8px 41px;
    }
    .footer_nav a {
        font-size: 12px;
        line-height: 16px;
    }
    .footer_social_icons {
        gap: 20px;
        margin-bottom: 13px;
    }
    .footer_social_icons > a {
        width: 20px;
        height: 20px;
    }
    .footer_policy {
        height: 100%;
        position: relative;
        top: 0px;
        margin: 0;
        grid-area: policy;
        justify-content: center;
    }
    
    .footer_policy > button {
        font-size: 12px;
        line-height: 26px;
    }
}
