.form_section {
    max-width: 1200px;
    width: 100vw;
    height: 526px;

    box-shadow: 0 2px 20px 0 hsla(0, 0%, 26%, 0.15);
}

.form_section > h2 {
    margin-top: 75px;
    margin-bottom: 20px;

    font-size: 30px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;

    color: #55A630;
}

.form_section > p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;

    margin: 0 auto;
    margin-bottom: 60px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 427px;
    margin: 0 auto;
    align-items: center;
}

form > input {
    width: 100%;
    height: 60px;
    padding-left: 34px;

    border: solid 1px #55A630;
    
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0px;
    text-align: left;
    
}

form > input:focus {
    outline: solid 2px #55A630;  
}
form > input::placeholder {
    color: hsla(0, 0%, 61%, 0.999);
}
form > input:first-child {
    margin-bottom: 15px;
}

form > button {
    font-size: 23px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0px;

    margin-top: 31px;
    width: 100%;

    border: none;
    height: 71px;

    cursor: pointer;
}

@media screen and (max-width: 1240px) {
    .form_section {
        max-width: calc(1000px - 40px);
    }
    .form_section > h2 {
        margin-top: 65px;
        margin-bottom: 25px;
    }
    .form_section > p {
        max-width: 463px;
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 26px;
    }
}

/* 768px */
@media screen and (max-width: 999px) {
    .form_section {
        max-width: calc(768px - 120px);
        height: 359px;
    }
    .form_section > h2 {
        margin-top: 30px;
        margin-bottom: 12px;
        font-size: 25px;
    }
    .form_section > p {
        max-width: 350px;
        margin-bottom: 31px;
        font-size: 15px;
        line-height: 22px;
    }
    form {
        max-width: 311px;
    }
    form > input {
        width: 100%;
        height: 45px;
        padding-left: 25px;        
    }
    form > button {
        font-size: 14px;
        line-height: 16px;
        margin-top: 23px;
        height: 53px;
    }
}

/* 480px */
@media screen and (max-width: 645px) {
    .form_section {
        max-width: 360px;
    }
    .form_section > h2 {
        margin-top: 32px;
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 17px;
    }
    .form_section > p {
        max-width: 280px;
        margin-bottom: 41px;
        font-size: 15px;
        line-height: 20px;
    }
    form {
        max-width: 297px;
    }
}

/* 320px */
@media screen and (max-width: 359px) {
    .form_section {
        max-width: 300px;
    }
    .form_section > h2 {
        max-width: 196px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 24px;
    }
    .form_section > p {
        max-width: 275px;
        margin-bottom: 36px;
    }
    form {
        max-width: 286px;
    }
}