header {
    width: 100%;
    max-width: 1440px;
}


header > div {
    max-width: 1200px;
    width: 100%;
    margin: 12px auto 10px auto;
    padding: 0 10px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header > div a {

    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

header .valmari_icon_container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 85px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;

    /* border-top: 1px solid hsla(101, 55%, 42%, 0.5); */
}

header > nav > a {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

header .phone {
    width: fit-content;
    display: flex;
    gap: 22px;
    white-space: nowrap;
}
/* 
header .phone > a {

}
header .phone > a:hover {} */

header .header__social_icons {
    display: flex;
    gap: 26px;

    margin:0 66px 0 58px;
    cursor: pointer;
}

header .lang_container {
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
}

header > hr {
    width: 100%;
    border: 2px solid hsla(101, 55%, 42%, 0.5);
    color:  hsla(101, 55%, 42%, 0.5);
}