.learning_blocks {
    max-width: 1200px;
    width: 100%;
}

.learning_blocks > h2 {
    margin-bottom: 76px;
}

.learning_blocks > div {    
    display: grid;
    gap: 55px 60px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 260px 260px;
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    "el1 el1 el1 el2 el2 el2"
    "el3 el3 el4 el4 el5 el5";
}

a.learning_block:hover {
    color: white;
}

.learning_block {
    width: 100%;
    height: 100%;
    color: white;

    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
}

.learning_block  .arrow {
    display: none;
    float: right;
    position: relative;
    bottom: 15px;
    margin-right: 85px;
}

.learning_block div {
    height: 100%;
    background-color: hsla(0, 0%, 14%, 0.37);
}

.learning_block ul {
    display: none;
    margin-top: 61px;
    margin-left: 20px;
    list-style-type: '-  ';

}

.learning_block p {
    text-transform: uppercase;
    margin-left: 25px;
}

.learning_blocks > div > .el1 {
    grid-area: el1;
    background-image: url('../img/learning_blocks/el1.jpg');
}
.el1 p {
    padding-top: 35px;
}
.el2 p {
    padding-top: 193px;
}
.el3 p {
    padding-top: 197px;
}
.el4 p {
    padding-top: 22px;
}
.el5 p {
    padding-top: 201px;
}

.learning_blocks > div > .el2 {
    grid-area: el2;
    background: url('../img/learning_blocks/el2.jpg') no-repeat;
}
.learning_blocks > div > .el3 {
    grid-area: el3;
    background: url('../img/learning_blocks/el3.jpg') no-repeat;
}
.learning_blocks > div > .el4 {
    grid-area: el4;
    background: url('../img/learning_blocks/el4.jpg');
}
.learning_blocks > div > .el5 {
    grid-area: el5;
    background: url('../img/learning_blocks/el5.jpg') no-repeat;
}

.learning_blocks .learning_block li {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
}

.el1 .cursor {
    display: none;
    position: relative;
    left: 378px;
    bottom: 40px;
}

@media screen and (min-width: 1240px) {
    .learning_block .arrow {
        display: block;
    }
    .learning_block ul {
        display: block;
    }
    .el1 p {
        max-width: 327px;
    }
    .el1 .cursor {
        display: block;
    }
}

@media screen and (max-width: 1240px) {
    .learning_blocks {
        max-width: 1000px;
        margin-top: 150px;
    }
    .learning_blocks > h2 {
        margin-bottom: 55px;
    }
    .learning_blocks > div {
        gap: 28px 28px;
        grid-template-rows: 207px 207px;
    }   
    .learning_block p {
        padding-top: 157px;
        margin-left: 20px;
        font-size: 25px;
        line-height: 38px;
    }
    .el4 > div > p {
        padding-top: 17px;
        margin-left: 0;
        text-align: center;
    }
    .el5 p {
        margin-left: 45px;
    }
}