.master_classes {
    margin-top: 177px;
    width: 100vw;
    max-width: 1200px;
}

.master_class button {border: none;}

.master_classes > p {
    margin-top: 30px;
    margin-bottom: 75px;

    font-size: 25px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}

.master_classes_container {
    display: flex;
    justify-content: space-between;
}

.master_class {
    max-width: 520px;
    box-shadow: 0 2px 20px 0 hsla(0, 0%, 26%, 0.15);

}
.master_class > picture {
    display: flex;
    flex-direction: column;
}
.master_class > div {
    display: grid;
    grid-template-rows: 132px 98px;
    grid-template-columns: auto 153px;
}
.master_class_description {
    grid-row: span 2;

    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    margin-left: 29px;

    display: grid;
    grid-template-rows: 50px auto auto;
}

.master_class_datetime {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;

    color: hsla(0, 0%, 26%, 0.8);

    display: flex;
    align-items: center;
}

.master_class_speakers {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;

    /* margin-top: 21px; */
    max-width: 272px;

    align-items: center;
    color: hsla(0, 0%, 26%, 0.8);
}

.master_class_cost {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;

    color: hsla(0, 0%, 26%, 0.8);
    background-color: #ECF9EB;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1240px) {
    .master_classes {
        margin-top: 140px;
        max-width: calc(1000px - 40px);
    }
    .master_classes > h2 {
        font-size: 30px;
    }
    .master_classes > p {
        margin-top: 40px;
        margin-bottom: 50px;  
        font-size: 20px;
    }
    .master_class {
        max-width: 464px;
    }
    .master_class > p {
        grid-template-columns: auto 136px;
    }
    .naster_class_datetime {
        font-family: Montserrat;
    }
    .master_class_text {
        font-size: 18px;
        line-height: 21px;
    }

}