.models {
    display: flex;
    justify-content: space-between;
    gap: 74px; 

    max-width: 1200px;
    width: 100%;

    margin-top: 178px;
}


.models h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;

    margin-bottom: 75px;

    color: #55A630;
}

.models p {
    color: #424242;

    margin-bottom: 1em;

    font-size: 25px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0px;

    display: flex;
    flex-direction: column;
}

.models button {
    margin-top: 60px;
    border: none;
    width : 100%;
    max-width: 385px;
    height: 75px;

    font-size: 23px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0px;

}



