.special_offers > h2 {
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.special_offers_container {
    display: flex;
    justify-content: space-between;
}

.special_offers a {
    width: 380px;
    height: 380px;
    background-color: hsl(0, 0%, 60%);
}

.special_offers a:hover {
    box-shadow: 0 3px 10px -3px hsla(0, 0%, 0%, 0.3);
}

.special_offers img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* 1000px */
@media screen and (max-width: 1240px) {
    .special_offers > h2 {
        font-size: 30px;
        margin-bottom: 50px;
    }
    .special_offers a {
        width: 303px;
        height: 303px;
    }
    .special_offers_container {
        max-width: calc(1000px - 40px);
    }
    .dot_navigation {
        margin-top: 50px;
    }
}

/* 768px */
@media screen and (max-width: 999px) {
    .special_offers > h2 {
        font-size: 25px;
        margin-bottom: 50px;
    }
    .special_offers a {
        width: 200px;
        height: 200px;
    }
}

/* 480px */
@media screen and (max-width: 720px) {
    .special_offers {
        max-width: 480px;
        overflow: hidden;
    }
    .special_offers > h2 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 40px;
    }
    .special_offers_container {
        width: fit-content;
        display: grid;
        grid-template-columns: auto 195px auto;
        gap: 25px;
        margin-left: 50%;
        transform: translateX(-50%); 
    }
    .special_offers a {
        width: 195px;
        height: 195px;
    }
    .special_offers_container > a:nth-child(odd) > picture {
        opacity: 0.6;
    }
    .dot_navigation {
        margin-top: 40px;
    }
}

/* 320px */
@media screen and (max-width: 490px) {
    .special_offers {
        max-width: 320px;
        overflow: hidden;
    }
    .special_offers > h2 {
        margin: 0 auto;
        max-width: 160px;
        margin-bottom: 40px;
    }
    .special_offers_container {
        gap: 20px;
    }
}
